.App {
  text-align: center;
  /* background-color: darkslategrey; */
  margin: auto;
}
html {
  background-color: #132b58e7;
}

/* =============== NavigationBar =============== */
.nav-layout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
}

.nav-myname {
  display: flex;
  margin-left: 5em;
}

.nav-links {
  display: flex;
  margin-left: auto;
  margin-right: 7em;
}

/* =============== HomeStatic =============== */

.profile-pic {
  height: 15em;
  width: 15em;
}

.home-static {
  background-color: #132b58e7;
}

.home-name {
  color: #1bee37af;
}

.home-job-title {
  color: #dfdfdfcb;
}

.home-socials-layout {
  display: flex;
  justify-content: center;
}

.home-socials {
  height: 3rem;
  width: 3rem;
  margin: 0.75rem;
  border: 2px;
  border-radius: 35%;
  size-adjust: 2rem;
  border: 2px solid #1bee37af;
}

/* =============== About =============== */
.about-page {
  background-color: #132b58f5;
}

.about-head {
  margin: 2rem;
  color: #dfdfdfcb;
}

.hello {
  margin-bottom: 1rem;
  color: #1bee37af;
  font-size: 15pt;
}

.about-caption {
  height: 10rem;
  width: 65rem;
  margin: auto;
  color: #dfdfdfcb;
  text-align: start;
}

.details-interests {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 2rem 1rem 2rem 1rem;
}

.details-interests h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #1bee37af;
}

.personal-dets-layout {
  /* background-color: yellow; */
  height: fit-content;
  width: fit-content;
  position: relative;
  margin: auto;
}

.personal-dets-content {
  /* background-color: green; */
  display: flex;
  text-align: left;
  margin-bottom: 3rem;
  color: #dfdfdfcb;
}

.job-status {
  color: #c938f5d7;
  height: fit-content;
  width: fit-content;
  padding: 0.2rem;
}

.personal-dets-content div {
  margin-left: 2rem;
}

.interests-layout {
  /* background-color: yellow; */
  height: fit-content;
  width: fit-content;
  margin: auto;
}

.interests-layout {
  /* background-color: yellow; */
  height: fit-content;
  width: fit-content;
  margin: auto;
}

.interests-content {
  /* background-color: green; */
  text-align: left;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 55px;
  grid-row-gap: 20px;
  margin-bottom: 3rem;
}

.interest {
  margin: 0.75rem 1.75rem 0.5rem 1.75rem;
  height: 3rem;
  width: 3rem;
}

.interest-name {
  text-align: center;
  color: white;
}

.interest-card {
  border: 1px solid #1bee37af;
  border-radius: 20%;
  background-color: #dfdfdf70;
}

/* =============== Skills =============== */
.skills-page {
  background-color: #132b58f5;
  color: #dfdfdfcb;
}

.skill-logo {
  height: 12.5rem;
  width: 12.5rem;
  margin: 0.5rem;
  margin-bottom: 5rem;
}

.skills-head {
  margin: 2rem;
  font-size: 16pt;
}

/* =============== Resume =============== */
.resume-text {
  margin-top: 3rem;
}

.resume-img {
  height: 15rem;
  width: 13rem;
  /* margin: 3rem auto; */
  margin: 2rem auto 3rem auto;
}

.download-btn {
  margin-bottom: 5rem;
}

.download-btn:hover {
  background-color: blue;
}

/* =============== Portfolio =============== */
.portfolio-head {
  margin: 2rem;
  font-size: 16pt;
}

/* =============== Contact =============== */
.contact-head {
  margin: 2rem;
}

.contacts {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.contact-socials {
  height: 5rem;
  width: 5rem;
}
